.home-container{
    background: whitesmoke;
    box-shadow: 10px 10px 10px #ffffff6b;
    border-radius: 10px;
    margin: 0 2%;
    height: 84%;
    padding: 6%;
    overflow: scroll;
}
.separador{
    border: .5px dashed #272727;
    width: 90%;
    margin: 5%;
}