<!-- <ul class="menu">
    <li routerLink="/home">Inicio</li>
    <li routerLink="/listaproyectos">Proyectos</li>
    <li routerLink="/contacto">Contacto</li>
</ul> -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-link nav-item" routerLink="/home">Inicio</li>
        <li class="nav-link nav-item" routerLink="/listaproyectos">Proyectos</li>
        <li class="nav-link nav-item" routerLink="/contacto">Contacto</li>
    </ul>
  </div>

</nav>