*{
    font-family: monaco;
}
.home-container{
    background: whitesmoke;
    box-shadow: 10px 10px 10px #ffffff6b;
    border-radius: 10px;
    margin: 0 2%;
    height: 84%;
    padding: 0.5%;
    text-align: center;
}
.inside-container{
    overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }